th {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 600;
  font-size: 13px;
}

tr {
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400;
  font-size: 13px;
}

.description-popup {
  position: absolute;
  z-index: 9999;
  background: white;
  border-radius: 6px;
  width: 450px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.btn-close {
  border: none;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}

// .description-popup.arrow-top:before {
//   left: calc(50% - 10px);
//   top: -8px;
// }
// .description-popup.arrow-right:before {
//   top: calc(50% - 10px);
//   right: -8px;
// }
// .description-popup.arrow-bottom:before {
//   left: calc(50% - 10px);
//   bottom: -8px;
// }
// .description-popup.arrow-left:before {
//   top: calc(50% - 10px);
//   left: -8px;
// }

// .description-popup:after {
//   content: "";
//   height: 100%;
//   width: 100%;
//   border-radius: 4px;
//   position: relative;
//   top: 0;
//   left: 0;
//   box-shadow: 0 1px 14px rgba(0,0,0,.2);
// }
// .description-popup:before {
//   content: "";
//   width: 20px;
//   height: 20px;
//   transform: rotate(45deg);
//   box-shadow: 0 1px 14px rgba(0,0,0,.2);
//   background: #fff;
//   position: absolute;
//   z-index: 0;
// }

/* Arrow base */
// .description-popup::before {
//   content: "";
//   width: 20px;
//   height: 20px;
//   position: absolute;
//   background: white;
//   transform: rotate(45deg);
//   z-index: -100px;
//   box-shadow: 0 1px 14px rgba(0, 0, 0, 0.2);
// }

// /* Arrow top */
// .description-popup.arrow-top::before {
//   top: -10px;
//   left: calc(50% - 10px);
// }

// /* Arrow right */
// .description-popup.arrow-right::before {
//   top: calc(50% - 10px);
//   right: -10px;
// }

// /* Arrow bottom */
// .description-popup.arrow-bottom::before {
//   bottom: -10px;
//   left: calc(50% - 10px);
// }

// /* Arrow left */
// .description-popup.arrow-left::before {
//   top: calc(50% - 10px);
//   left: -10px;
// }
.tooltip-inner {
  background-color: #ffffff !important; /* White background */
  color: #333333 !important;           /* Dark text */
  border: 1px solid #ccc;              /* Optional: subtle border */
}
.cursor-grab {
  cursor: grab;
}
