/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }



.table-striped tbody tr:nth-of-type(odd) {
    background-color: red !important; /* Use !important to override Bootstrap */
  }


  /* styles.scss */
::ng-deep .mat-paginator.custom-paginator .mat-paginator-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* ensure the little select box is the last item */
::ng-deep .mat-paginator.custom-paginator .mat-paginator-page-size {
  order: 2;        /* after the range+buttons */
  margin-left: auto;
}

/* the range + nav buttons group comes first */
::ng-deep .mat-paginator.custom-paginator .mat-paginator-range-actions {
  order: 1;
}

/* optional: tighten up padding */
::ng-deep .mat-paginator.custom-paginator {
  padding: 0.5rem 1rem;
}
